.card {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    /* border-radius: 10px; */
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-decoration: none;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover .details {
    transform: translateY(-50%);
  }
  
  .card:hover .details .overlay {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .details {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transform: translateY(100%);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .details h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .details p {
    margin: 0;
    font-size: 16px;
  }
  
  .details .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .details .overlay:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    /* border-radius: 50%; */
    border: 1px solid #fff;
    z-index: 1;
  }
  
  .details .overlay:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 1;
  }
  
  .details .overlay-text {
    position: relative;
    z-index: 2;
  }
  
  .details .overlay-text h3 {
    margin: 0;
    font-size: 32px;
  }
  
  .details .overlay-text p {
    margin: 0;

    font-size: 18px;
  margin-top: 10px;
}

.details .overlay-text a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  /* border-radius: 25px; */
  transition: all 0.3s ease-in-out;
}

.details .overlay-text a:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }

  .card img {
    height: 60%;
  }

  .details {
    height: 40%;
  }
}
