.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  
  .portfolio__item {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    position: relative;
  
    background: #221730a6;
    height: min-content;
    padding: 1.2rem;
    /* border-radius: 1rem; */
    border: 1px solid transparent;
    transition: var(--transition);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
  
  .portfolio__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 70px -12.125px #9FEF00;
  }
  
  .portfolio__item-image {
    /* border-radius: 1rem; */
    overflow: hidden;
  }
  
  .portfolio__item h3 {
    margin: 1.2rem 0 2rem;
  }
  
  .portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  /* =============== MEDIA QUERIES (MEDIUM DEVICES) ================ */
  @media screen and (max-width: 1024px) {
    .portfolio__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
    }
  }
  
  /* =============== MEDIA QUERIES (SMALL DEVICES) ================ */
  @media screen and (max-width: 840px) {
    .portfolio__container {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
  